// $baseLineHeight: 10px;
// @function padding($count: 1) {
//  @return $baseLineHeight * $count;
// }
// 標題
$h-size: 2rem, 1.375rem, 1.125rem, 1rem, 0.875rem;
$h-m-size: 1.625rem, 1.25rem;
@for $i from 1 through 5 {
    h#{$i} {
        font-weight: 600;
        @include breakpoint(1024px) {
            font-weight: 500;
        }
    }
    h#{$i},
    .h#{$i} {
        margin-top: 1em;
        margin-bottom: 1em;
    }
}

@for $i from 1 through 2 {
    h#{$i},
    .h#{$i} {
        font-size: nth($h-m-size, $i);
        @include breakpoint(1024px) {
            font-size: nth($h-size, $i);
        }
    }
}

@for $i from 3 through 5 {
    h#{$i},
    .h#{$i} {
        font-size: nth($h-size, $i);
    }
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

@include breakpoint(1024px) {
    .text-d-left {
        text-align: left;
    }
    .text-d-center {
        text-align: center;
    }
    .text-d-right {
        text-align: right;
    }
}

@include breakpoint(max-width 1023px) {
    .text-m-left {
        text-align: left;
    }
    .text-m-center {
        text-align: center;
    }
    .text-m-right {
        text-align: right;
    }
}

p {
    color: $text;
    word-break: break-word;
    .heading__icon {
        display: inline-block;
        margin-right: 10px;
        font-size: 0.9em;
        vertical-align: sub;
    }
    a.link-btn {
        color: $surface;
        text-decoration: underline;
        &:hover {
            color: $primary;
        }
    }
}

.summary {
    color: $surface;
}

blockquote {
    color: $text;
    font-weight: 500;
}

ul.keyword {
    margin: 1.125em 0;
    padding: 0;
    font-size: 0;
    list-style: none;
    li {
        display: inline-block;
        font-size: 1.125em;
        &::after {
            content: '、';
        }
        &:last-child {
            &::after {
                content: '';
            }
        }
        a {
            display: inline-block;
            color: $primary;
            &:hover {
                color: $primary-variant;
            }
        }
    }
}

body {
    main p {
        font-size: 1rem;
        line-height: 1.6;
    }
    &.feature__page {
        h1,
        .h1 {
            color: $text;
            font-size: 28px;
            line-height: 1.3;
            @include breakpoint(768px) {
                font-size: 40px;
            }
        }
        h2,
        .h2 {
            color: $text;
            font-size: 22px;
            line-height: 1.3;
            @include breakpoint(768px) {
                font-size: 24px;
            }
        }
        main p {
            font-size: 1.125rem;
            line-height: 1.8;
        }
    }
}