@import "_basic";
@import "_general";
@import "_sheet";
@import "_typography";
@import "_font";
@import "_iconography";
@import "_container";
@import "_embed";
@import "_button";
@import "_preload";

.wow {
    opacity: 0;
    visibility: hidden;
    animation-fill-mode: both;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo {
        position: relative;
        display: flex;
        align-self: center;
        width: 145px;
        font-size: 0;
        a {
            display: block;
            vertical-align: middle;
            &.logo--main {
                width: 57.381852%;
            }
            &.logo--40 {
                margin-left: 3.403481%;
                width: 39.214667%;
            }
            &.logo--channel {
                position: absolute;
                top: 50%;
                left: calc(100% + 10px);
                color: $black;
                font-size: 1rem;
                word-break: keep-all;
                @include translateY(-50%);
            }
            img {
                display: block;
            }
        }
    }
}
main {
    height: 100%;
    min-height: 100%;
    .block--essay {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        min-height: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
        p {
            max-width: 17em;
            width: 100%;
            font-size: 1.125rem;
            line-height: 1.7;
            @media screen and (min-width: 768px) {
                max-width: 310px;
            }
        }
        span {
            display: block;
            padding-left: 0.0625rem;
            letter-spacing: 0.0625rem;
        }
    }
    .block--video {
        // height: 100%;
        // min-height: 100%;
        border-top: 1px solid $gray-100;
        border-bottom: 1px solid $gray-100;
        .embed {
            &.embed--16by9 {
                @media screen and (orientation: portrait) {
                    padding-bottom: 95%;
                }
            }
            > * {
                object-fit: cover;
            }
        }
    }
    .block--button {
        display: flex;
        flex-wrap: wrap;
        font-size: 0;
        .col-4 {
            position: relative;
            width: 100%;
            padding: 30px 20px;
            background-size: cover;
            background-position: center;
            @media screen and (min-width: 768px) {
                width: 33.333333333333%;
                padding: 50px 40px;
                text-align: center;
            }
            h2 {
                margin: 0;
                color: $white;
            }
            .h3 {
                margin: 0;
                color: $gray-200;
            }
            .btn {
                margin-top: 1em;
            }
            &.col-4-green {
                background-color: $green;
            }
            &.col-4-blue {
                background-color: $blue;
            }
            &.col-4-yellow {
                background-color: $yellow;
            }
            &.col-4-gray {
                background-color: $gray;
            }
            &.col-4-green,
            &.col-4-yellow {
                h2 {
                    color: $black;
                }
                .h3 {
                    color: $gray-500;
                }
            }
        }
    }
}
footer {
    // position: absolute;
    // bottom: 0;
    // left: 0;
    // right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0.0625rem;
    color: $white;
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: 0.0625rem;
    text-align: center;
    background-color: $gray-300;
}

.kv_pc_mouse {
    position: absolute;
    left: 50%;
    bottom: 20px;
    margin-left: -14px;
    display: block;
    width: 28px;
    height: 48px;
    border: 1px solid $gray-300;
    @include border-radius(30px);
    z-index: 3;
    cursor: pointer;
    &::after {
        @include beforeafter('', block);
        position: absolute;
        top: 8px;
        left: calc(50% - 2px);
        width: 4px;
        height: 4px;
        background-color: $gray-300;
        @include border-radius(4px);
        @include animation(scrolling 1s ease-in-out infinite);    
    }
}

@include keyframes(scrolling) {
    from, to {
        top: 5px;
    }
    50% {
        top: 10px;
    }
}
  